<head>
  <meta charset="UTF-8" />
  <title>Deviant</title>
  <script>
    window.pageLoaded = false; window.addEventListener("load", function() {
    window.pageLoaded = true; }); window.onbeforeunload = function() {
    window.scrollTo(0, 0); };
  </script>
</head>