<div class="{{class-names}}">
  <div class="header__link-wrapper link-wrapper">
    {{> link-inner-common link="/about-us.html" text="О нас"}}
    <br />
    {{> link-inner-common link="/about-us.html" text="О нас"}}
  </div>
</div>