<div class="{{class-names}}" data-header-color="{{data-header-color}}">
  <a
    href="/about-us.html"
    class="link link_color_white text text_color_white text_type_h2 text_transform_uppercase work-item__text-wrapper"
  >
    <div class="link-wrapper">
      <span class="text">Agency</span>
      <br />
      <span class="text">Agency</span>
    </div>
  </a>
  <img
    src="../../images/content/seal.svg"
    alt=""
    class="link-about__seal seal"
  />
</div>