<div class="{{class-names}}">
  <div class="header__link-wrapper link-wrapper">
    {{> link-inner-common link="/about-us-eng.html" text="About us"}}
    <br />
    {{> link-inner-common link="/about-us-eng.html" text="About us"}}
  </div>
</div>