<div class="{{class-names}}" data-header-color="{{data-header-color}}">
  <a
    href="/all-projects.html"
    class="link link_color_white text text_color_white text_type_h2 text_transform_uppercase"
  >
    <div class="link-wrapper">
      <span class="text">All projects</span>
      <br />
      <span class="text">All projects</span>
    </div>
  </a>
</div>