<div class="{{class-names}}">
  <span class="preloader-wrapper"><span
    class="preloader-wrapper-inner preloader-appearance-step-1-0"
  >we develop</span></span>
  <br>        
  <span class="first-section__text-button">
    {{> intro-main-eng-desktop-title-site.svg}}
      <a
        href="/write-us.html?target=site"
        class="first-section__text-button-text text_color_black preloader-wrapper"
          >
          <span class="preloader-wrapper-inner preloader-appearance-step-1-1"
          >websites
          </span>
      </a>
    </span>
  <br />
  <span class="first-section__text-button">
    <span class="preloader-wrapper">
      <span class="preloader-wrapper-inner preloader-appearance-step-1-2"
        >and
      </span>
    </span>
    {{> intro-main-eng-desktop-title-apps.svg}}
      <a
        href="/write-us.html?target=app"
        class="first-section__text-button-text text_color_black"
        >
        <span class="preloader-wrapper">
          <span class="preloader-wrapper-inner preloader-appearance-step-1-2"
            >mobile apps
          </span>
        </span>
      </a>
  </span>
</div>