<div class="first-section_mobile">
  <span class="preloader-wrapper">
    <span class="preloader-wrapper-inner preloader-appearance-step-1-0">
      Develop
    </span>
  </span>
  <span style="margin-top: 5px;" class="first-section__text-button text_type_desc">
    {{> intro-main-eng-mobile-title-site.svg}}
      <a
        href="/write-us.html?target=site"
        class="first-section__text-button-text text_color_black preloader-wrapper"
        >
        <span class="preloader-wrapper-inner preloader-appearance-step-1-1"
          >websites
        </span>
      </a>
  </span>
  <span style="margin-top: 5px;" class="first-section__text-button text_type_desc">
    {{> intro-main-eng-mobile-title-apps.svg}}
      <a
        href="/write-us.html?target=app"
        class="first-section__text-button-text text_color_black"
        style="padding-left:20px; display:flex; flex-direction:row;"
        >
        <span class="preloader-wrapper">
          <span
            style="padding-top:2px; margin-right: 4px;"
            class="preloader-wrapper-inner preloader-appearance-step-1-2"
              >mobile
          </span>
        </span>
        <br />
        <span class="preloader-wrapper">
          <span
            style="padding-top:2px;"
            class="preloader-wrapper-inner preloader-appearance-step-1-3"
            >apps
          </span>
        </span>
      </a>
  </span>
</div>