<div class="header__link-wrapper link-wrapper">
  {{#if main-link}}
    <a
      href="/index.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>
    <br />
    <a
      href="/index.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>  
  {{/if}}
  {{#if projects-link}}
    <a
      href="/projects.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>
    <br />
    <a
      href="/index.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>  
  {{/if}}
  {{#if about-us-link}}
    <a
      href="/about-us.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>
    <br />
    <a
      href="/about-us.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>  
  {{/if}}
  {{#if write-us-link}}
    <a
      href="/write-us.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>
    <br />
    <a
      href="/write-us.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      RU
    </a>  
  {{/if}}
</div>