<div class="header__link-wrapper link-wrapper">
  {{#if main-link}}
    <a
      href="/index-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>
    <br />
    <a
      href="/index-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>  
  {{/if}}
  {{#if projects-link}}
    <a
      href="/projects-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>
    <br />
    <a
      href="/index-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>  
  {{/if}}
  {{#if about-us-link}}
    <a
      href="/about-us-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>
    <br />
    <a
      href="/about-us-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>  
  {{/if}}
  {{#if write-us-link}}
    <a
      href="/write-us-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>
    <br />
    <a
      href="/write-us-eng.html"
      class="text ignore-theme text_color_black text_type_common text_transform_uppercase"
      >
      EN
    </a>  
  {{/if}}
</div>