<li class="our-profiles__item">
  <div class="our-profiles__photo-wrapper">
    <img
      class="our-profiles__photo"
      src="{{img}}"
      alt=""
    />
  </div>
  <div class="our-profiles__item-overlay"></div>
  <div
    class="our-profiles__item-role text_type_h2 text text_transform_uppercase main-padding"
  >
    {{text}}
  </div>
</li>