<a href="{{link}}" class="text_color_black text_transform_uppercase">
  <span 
    class="text ignore-theme text_type_common">
    {{text-1}}
  </span>
  <span 
    class="text ignore-theme header__works-number text_type_common">
    {{text-2}}
  </span>
</a>