<div class="preloader">
  {{> logo-t.svg fill="#242424" class-names="preloader__logo preloader__logo_mobile" }}
  <div class="preloader__cursor"></div>
  <div class="preloader__bar">
    <div class="header__overflow-inner main-padding">
      {{> logo-t.svg fill="#fff" class-names="preloader__logo" }}
    </div>
  </div>
</div>