<div class="{{class-names}}">
  <div class="header__link-wrapper link-wrapper">
    {{> link-inner-projects link="/all-projects.html" text-1="Работы" text-2="12"}}
    <br />
    {{> link-inner-projects link="/all-projects.html" text-1="Работы" text-2="12"}}
  </div>
</div>