<div class="{{class-names}}">
  <div class="header__link-wrapper link-wrapper">
    {{> link-inner-projects link="/projects-eng.html" text-1="Projects" text-2="12"}}
    <br />
    {{> link-inner-projects link="/projects-eng.html" text-1="Projects" text-2="12"}}
  </div>
</div>