// colors
$black: #242424;
$white: #ffffff;
$whietA40: rgba(255, 255, 255, 0.4);
$red: #e74141;
$gray: #a2a2a3;
$bg: #f8f8f8;


// fonts
$fontMain: Arial, sans-serif;

// media
$desktop-xlg-width: 1920px;
$desktop-lg-width: 1600px;
$desktop-md-width: 1440px;
$desktop-sm-width: 1280px;
$desktop-sm-width-2: 1084px;
$tablet-lg-width: 1024px;
$tablet-sm-width: 768px;
$phone-width: 600px;

//z-index
$z-index-modal: 2000;
$z-index-header: 1000;
$z-index-burger: 100;

// logo sizes
$logoDevianWidthLg: 205px;
$logoTWidthLg: 32px;
$logoHeightLg: 40px;

$logoDevianWidthMd: 164px;
$logoTWidthMd: 26px;
$logoHeightMd: 32px;

$logoDevianWidthMd2: 164px * 0.625;
$logoTWidthMd2: 26px * 0.625;
$logoHeightMd2: 20px;

$logoDevianWidthSm: 164px * 0.625 * 0.8;
$logoTWidthSm: 26px * 0.625 * 0.8;
$logoHeightSm: 16px;

// offsets
$baseX: 4px;
$offsetXLg: 80px;
$offsetLg: 40px;
$offsetMd: 24px;
$offsetMd2: 20px;
$offsetSm: 12px;
$offsetSm2: 16px;

//seal sizes
$sealLg: 220px;
$sealMd: 160px;
$sealMd2: 108px;
$sealSm: 88px;