<section data-header-color="white" class="about-first-section main-padding">
  <div class="about-first-section__photo-wrapper">
    {{> about-us-intro-team-photo
        class-names="about-first-section__photo"
        img="../../images/content/team/some-photo-5.jpg"
    }}
    {{> about-us-intro-team-photo
        class-names="about-first-section__photo"
        img="../../images/content/team/some-photo-2.jpg"
    }}
    {{> about-us-intro-team-photo
        class-names="about-first-section__photo"
        img="../../images/content/team/some-photo-3.jpg"
    }}
    {{> about-us-intro-team-photo}}
  </div>
  <img
    src="../../images/content/seal-black.svg"
    alt=""
    class="about-first-section__seal seal"
  />
  <div class="ticker about-first-section__ticker">
    <div class="ticker__inner text ignore-theme text_type_wow">
      <div class="ticker__inner-inner">
        <span class="ticker__text">56°51’27" 60°36’44"</span>
        <span class="ticker__text">56°51’27" 60°36’44"</span>
      </div>
    </div>
  </div>
  <h2
    class="about-first-section__sub-title text text_color_gray text_type_desc ignore-theme"
  >
    Who we are?
  </h2>
  <div
    class="about-first-section__title text text_type_h1 text_transform_uppercase"
  >
    <h1 class="text text_color_red">Devian<span class="T">t</span></h1>
    We create simple and efficient digital solutions for business<br>
    we fulfill work in programming, analytics, design and branding
  </div>
</section>