<section data-header-color="white" class="approach-to-work main-padding">
  <h2 class="approach-to-work__title text text_type_desc">Approach to work</h2>
  <div class="approach-to-work__scheme">
    <div class="approach-to-work__step-wrapper">
      <div class="approach-to-work__step approach-to-work__step_1 text">
        Briefing
      </div>
      <div class="approach-to-work__step approach-to-work__step_2 text">
        Estimate and deadlines
      </div>
      <div class="approach-to-work__step approach-to-work__step_3 text">
        Finished product
      </div>
    </div>
    {{> circles-desktop-approach-to-work-about-us.svg class-names="approach-to-work__scheme-svg_desktop"}}
    {{> circles-mobile-approach-to-work-about-us.svg
        class-names="approach-to-work__scheme-svg_mobile"}}
  </div>
</section>