<section class="form-section main-padding">
  <div class="form-section__title-row">
    <h1 class="half text text_type_desc text_color_gray form-section__title">
      Tell us briefly
      <br />
      about your project
    </h1>
    <div class="half form-section__sub-title">
      <div class="text text_type_desc">
        <br />
      </div>
    </div>
  </div>
  <form class="form-section__main">
    <div class="form-section__input-row">
      <input
        type="text"
        placeholder="Your Name"
        class="form-section__input text text_type_h2 text_transform_uppercase"
      />
    </div>
    <div class="form-section__line"></div>
    <div class="form-section__input-row">
      <input
        type="text"
        placeholder="What are you interested in"
        class="form-section__input text text_type_h2 text_transform_uppercase"
      />
    </div>
    <div class="form-section__line"></div>
    <div class="form-section__input-row">
      <input
        type="text"
        placeholder="Your phone number"
        class="form-section__input text text_type_h2 text_transform_uppercase"
      />
    </div>
    <div class="form-section__line"></div>
    <div class="form-section__input-row">
      <input
        type="text"
        placeholder="E—mail"
        class="form-section__input text text_type_h2 text_transform_uppercase"
      />
    </div>
    <div class="form-section__line"></div>
    <div class="form-section__input-row">
      <textarea
        type="text"
        placeholder="About the project"
        rows="3"
        class="form-section__input text text_type_h2 text_transform_uppercase"
      ></textarea>
    </div>
    <div class="form-section__line"></div>
    <div class="form-section__buttons-row">
      <label class="form-section__plus">
        <input type="file" />
        <div
          class="form-section__plus-text text text_type_desc text_color_gray hover_transition_xs"
        >
          Attach
          <br />
          document
        </div>
        <svg
          class="form-section__plus-svg"
          viewBox="0 0 60 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 30H60M30 60L30 0" stroke="#242424"></path>
        </svg>
      </label>
      <button
        class="text text_color_black text_type_h1 button button_type_main button_color_main text_transform_uppercase hover_transition_xs"
      >
        send
      </button>
    </div>
  </form>
</section>