<section class="works-first-section" data-header-color="white">
  <div class="works-first-section__count-wrapper text_transform_uppercase">
    <div class="works-first-section__count text text_type_wow text_color_white">
      12
    </div>
    <div class="text text_type_h2 text_color_white">
      Projects made by us
      <br />

      <br />
    </div>
  </div>
  <div class="works-first-section__buttons">
    <button
      class="works-first-section__button button button_type_sub
             button_color_white button_active text_type_common
             text_color_white hover_transition_xs"
      data-button-filter="*"
    >
      All
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      data-button-filter="websites"
    >
      Websites
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      data-button-filter="apps"
    >
      Mobile Apps
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      data-button-filter="branding"
    >
      Branding
    </button>
    <button
      class="works-first-section__button button button_type_sub
             button_color_white text_type_common text_color_white
             hover_transition_xs"
      data-button-filter="advertising"
    >
      Advertising
    </button>
  </div>
</section>