<section data-header-color="white" class="our-profiles">
  <h2
    class="our-profiles__title text_type_h1 text text_transform_uppercase main-padding"
  >
    Our profiles
  </h2>
  <ul class="our-profiles__main">
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/team/some-photo-2.jpg"
        text="Web—design"
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/team/some-photo-3.jpg"
        text="frontend"
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/team/some-photo-5.jpg"
        text="backend"
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/team/some-photo-2.jpg"
        text="UX ui Analytics"
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/team/some-photo-2.jpg"
        text="Art—direction"
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/team/some-photo-3.jpg"
        text="Branding"
    }}
    {{> line-our-offer-about-us}}
    {{> li-item-our-profile-about-us
        img="../../images/content/team/some-photo-3.jpg"
        text="Support"
    }}
    {{> line-our-offer-about-us}}
  </ul>
</section>