<section class="works preloader-opacity preloader-appearance-step-2-1">
  {{> project-lg 
      url="https://www.koltashov.studio/" 
      img="../../images/content/works/koltashov/lg-main.svg" 
      text-under-title="Firstly look at" 
      title="KOLTASHOV"
      tittle-color="white"
  }}
  {{> project-mini-eng
      img="../../images/content/works/sber-salary-project/sber-salary-project.jpg" 
      url-1="https://sber-card.com/" 
      url-2="https://sber-card.com/" 
      title="Sberbank. Salary project" 
      color-1="#f5ebff" 
      color-2="#21a038" 
      color-3="#23e87d" 
      year="2021" 
      tech-category="Landing"
      title-color="white"}}
  {{> project-mini-eng
      img="../../images/content/works/sber-green-marathon/md-projects.svg" 
      url-1="/stub-link" 
      url-2="/stub-link" 
      title="Sberbank. Green marathon" 
      color-1="#31426e" 
      color-2="#ffffff" 
      color-3="#ffb8a8" 
      year="2021" 
      tech-category="Mobile app"
      title-color="black"}}
  {{> about-us-link-projects-main-eng 
  class-names="link-about link-about_type_about"
  data-header-color="white"}}
  {{> all-projects-link-projects-main-eng 
  class-names="link-about link-about_type_works"
  data-header-color="white"}}
</section>