<section class="works">
  {{> project-mini-eng
      data-header-color="white"
      data-work-filter="websites"
      img="../../images/content/works/koltashov/md-works.svg" 
      url-1="https://www.koltashov.studio/" 
      url-2="https://www.koltashov.studio/" 
      title="Koltashov" 
      color-1="#232121" 
      color-2="#fdfdfd" 
      color-3="#cd4138" 
      year="2021" 
      tech-category="Landing"
      title-color="white"
  }}
  {{> project-mini-eng
      data-header-color="white"
      data-work-filter="apps"
      img="../../images/content/works/horo/horo.svg" 
      url-1="/stub-link" 
      url-2="/stub-link" 
      title="Horo" 
      color-1="#31426e" 
      color-2="#ffffff" 
      color-3="#ffb8a8" 
      year="2021" 
      tech-category="Mobile app"
      title-color="white"
  }}
  {{> project-mini-eng
      data-header-color="white"
      data-work-filter="websites"
      img="../../images/content/works/sber-salary-project/sber-salary-project.jpg" 
      url-1="https://sber-card.com/" 
      url-2="https://sber-card.com/" 
      title="SBERBANK SALARY PROJECT" 
      color-1="#f5ebff" 
      color-2="#21a038" 
      color-3="#23e87d" 
      year="2021" 
      tech-category="Landing"
      title-color="white"
  }}
  {{> project-mini-eng 
      data-header-color="white"
      data-work-filter="apps"
      img="../../images/content/works/sber-cash-terminal/sber-cashbox.jpg" 
      url-1="/stub-link" 
      url-2="/stub-link" 
      title="SBERBANK CASH TERMINAL" 
      color-1="#f8f8f8" 
      color-2="#f94a21" 
      color-3="#13923c" 
      year="2021" 
      tech-category="Mobile app"
      title-color="white"
  }}
  {{> project-mini-eng
      data-header-color="black"
      data-work-filter="websites"
      img="../../images/content/works/immune-activator/immun.svg" 
      url-1="http://xn--h1aiae3a.xn--p1ai/" 
      url-2="http://xn--h1aiae3a.xn--p1ai/" 
      title="IMMUNE ACTIVATOR" 
      color-1="#f8f8f8" 
      color-2="#3a2e94" 
      color-3="#ff6c2d" 
      year="2021" 
      tech-category="Landing"
      title-color="black"}}
  {{> project-mini-eng
      data-header-color="black"
      data-work-filter="websites"
      img="../../images/content/works/sber-green-marathon/md-projects.svg" 
      url-1="https://eko-marathon.ru/" 
      url-2="https://eko-marathon.ru/" 
      title="SBERBANK GREEN MARATHON" 
      color-1="#f5ebff" 
      color-2="#99cc33" 
      color-3="#6acff5" 
      year="2021" 
      tech-category="Multipage website"
      title-color="black"}}
  {{> project-mini-eng
      data-work-filter="websites"
      img="../../images/content/works/loft-group/md-main.jpg" 
      url-1="http://www.loftgroup.art" 
      url-2="http://www.loftgroup.art" 
      title="LoftGroup" 
      color-1="#d91e1e" 
      color-2="#ffffff" 
      color-3="#2b2b2b" 
      year="2021" 
      tech-category="Multipage website"
      title-color="white"}}
  {{> project-mini-eng 
      data-work-filter="websites"
      img="../../images/content/works/dutt-buff/dutt-butt.svg" 
      url-1="https://leroyjs.github.io/Dutt-Butt/" 
      url-2="https://leroyjs.github.io/Dutt-Butt/" 
      title="Dutt Butt" 
      color-1="#baae81" 
      color-2="#fbfbfb" 
      color-3="#5e7b99" 
      year="2021" 
      tech-category="Landing"
      title-color="white"
  }}
  {{> project-mini-eng
      data-work-filter="websites"
      img="../../images/content/works/hunt-base-white/white.jpg" 
      url-1="https://hunt-white.com/" 
      url-2="https://hunt-white.com/" 
      title="HUNT BASE “WHITE”" 
      color-1="" 
      color-2="#ffffff"
      color-3="#249d6a"
      year="2021" 
      tech-category="Multipage website"
      title-color="white"
  }}
</section>