<section class="works">
  {{> project-lg
    data-header-color="black"
    url="https://eko-marathon.ru/" 
    img="../../images/content/works/sber-green-marathon/lg-about-us.svg" 
    title="SBER"
    text-under-title="Multipage website"
    tittle-color="black"
    theme-controller="ignore-theme"
  }}
  {{> project-lg 
    url="http://www.loftgroup.art/" 
    img="../../images/content/works/loft-group/lg-about-us.jpg" 
    title="LOFTGROUP"
    text-under-title="Multipage website"
    tittle-color="white"
    theme-controller="ignore-theme"
  }}
  {{> project-lg 
    url="/stub-link" 
    img="../../images/content/works/horo/horo.svg" 
    title="HORO"
    text-under-title="Mobile app"
    tittle-color="white"
    theme-controller="ignore-theme"
  }}
</section>