<section class="deviant-circle" data-header-color="{{data-header-color}}">
  <div class="deviant-circle__main-wrapper">
    <div
      class="deviant-circle__main text text_color_{{color}} text_type_h1"
      data-splitting
    >
      DEVIANT DEVIANT DEVIANT DEVIANT
    </div>
  </div>
</section>